
body 
{
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
main
{
    width: 70%;
    border: 1px solid black;
    /* padding: 0px 5px; */
}

h3
{
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    background-color: #a7a6a6;
}

h3 span 
{
    color: red;
}

nav ul
{
    margin-bottom: 30px;
}

nav ul li
{
    list-style:none;
    display: inline;
    padding: 10px 15px;
    background-color: #64a9fc;
}

.second-nav li 
{
    background-color: #56f756;
}

nav ul li a 
{
    text-transform: capitalize;
    text-decoration: none;
    color: white;
}